{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer une critique</title>
    <link rel="stylesheet" href="{% static 'reviews/styles.css' %}">
</head>
<body>

    <nav>
        <h3>
            <a href="{% url 'main' %}">LITReview</a>
        </h3>
        <div class="menu-icon"><span>&#9776;</span></div>
        <ul class="menu">
            <li><a href="{% url 'main' %}">Main</a></li>
            <li><a href="{% url 'posts' %}">Posts</a></li>
            <li><a href="{% url 'follow_users' %}">Abonnements</a></li>
            <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
        </ul>
    </nav>

    <div id="ticket-container">

        <h2>Créer une critique</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-errors">
                {{ ticket_form.non_field_errors }}
                {{ review_form.non_field_errors }}
            </div>

            <h3>Livre / Article</h3>

            <div class="inputGroup">
                <label for="id_title">Titre du livre</label>
                <input type="text" name="title" id="id_title" placeholder="Titre du livre..." required>
            </div>
            <div >{{ ticket_form.title.errors }}</div>

            <div class="inputGroup">
                <label for="id_description">Description</label>
                <textarea name="description" id="id_description" rows="4" placeholder="Description du livre..."></textarea>
            </div>
            <div >{{ ticket_form.description.errors }}</div>

            <div >
                <label for="id_image">Image de couverture</label>
                <input type="file" name="image" id="id_image">
            </div>
            <div >{{ ticket_form.image.errors }}</div>

            <div class="inputGroup">
                <label for="id_headline">Titre de votre critique</label>
                <input type="text" name="headline" id="id_headline" placeholder="Ex: Je recommande !" required>
            </div>
            <div >{{ review_form.headline.errors }}</div>

            <div class="inputGroup">
                <label>Note :</label>
                <div>
                    {{ review_form.rating }}
                </div>
            </div>
            <div >{{ review_form.rating.errors }}</div>

            <div class="inputGroup">
                <label for="id_body">Commentaire</label>
                <textarea name="body" id="id_body" rows="4" placeholder="Écrivez votre critique ici..." required></textarea>
            </div>
            <div >{{ review_form.body.errors }}</div>

            <button type="submit">Envoyer</button>
        </form>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>