{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="{% static 'reviews/styles.css' %}">
</head>
<body>
    <nav>
        <h3>LITReview</h3>

        <div class="menu-icon">
            <span>&#9776;</span>
        </div>

        <ul class="menu">
            <li><a href="{% url 'main' %}">Flux</a></li>
            <li><a href="{% url 'posts' %}">Posts</a></li>
            <li><a href="{% url 'follow_users' %}">Abonnements</a></li>
            <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
        </ul>
    </nav>

    <div id="ticket-container">

        <h2>Créer un ticket</h2>

        <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-errors">{{ form.non_field_errors }}</div>

    <div class="inputGroup">
        <label for="id_title">Titre</label>
        <input type="text" name="title" id="id_title" placeholder="Titre" required>
    </div>
    <div class="error-msg">{{ form.title.errors }}</div>

    <div class="inputGroup">
        <label for="id_description">Description</label>
        <textarea name="description" id="id_description" rows="4" placeholder="Votre description..." required></textarea>
    </div>
    <div class="error-msg">{{ form.description.errors }}</div>

    <div class="image-upload-container">
        <label for="id_image">Image</label>
        <input type="file" name="image" id="id_image">
    </div>
    <div class="error-msg">{{ form.image.errors }}</div>

    <button type="submit">Envoyer</button>
</form>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>