{% extends 'reviews/base.html' %}

{% block title %}Créer une critique{% endblock %}

{% block content %}
<div id="ticket-container">
    <h2>Créer une critique</h2>

    <h3>Vous répondez au ticket de {{ ticket.user }}</h3>
    <p><strong>Livre :</strong> {{ ticket.title }}</p>
    <p><strong>Description :</strong> {{ ticket.description }}</p>

    {% if ticket.image %}
        <div class="image_part">
        <img src="{{ ticket.image.url }}" alt="Image du livre">
        </div>
    {% endif %}

    <hr>

    <form method="post">
        {% csrf_token %}
        <div>{{ form.non_field_errors }}</div>

        <div class="form-field">
            <label for="id_headline">Titre de votre critique</label>
            {{ form.headline }}
        </div>
        <div>{{ form.headline.errors }}</div>

        <div class="form-field">
            <label for="id_rating">Note</label>
            {{ form.rating }}
        </div>
        <div>{{ form.rating.errors }}</div>

        <div class="form-field">
            <label for="id_body">Commentaire</label>
            {{ form.body }}
        </div>
        <div>{{ form.body.errors }}</div>

        <button id="page_btn" type="submit">Envoyer</button>
    </form>
</div>
{% endblock %}