{% extends 'reviews/base.html' %}

{% block title %}Abonnements - LITReview{% endblock %}

{% block content %}
    <div id="ticket-container">

        <h2>Suivre d'autres utilisateurs</h2>

        <form method="post">
            {% csrf_token %}

            {% if message %}
                <div class="form-errors">
                    {{ message }}
                </div>
            {% endif %}

            <div class="form-field">
                <label for="id_username">Nom d'utilisateur</label>
                <input type="text" name="username" id="id_username" placeholder="Pseudo à suivre" required>
            </div>

            <button type="submit">Envoyer</button>
        </form>

        <hr>

        <h2>Abonnements</h2>

        {% for follow in following %}
            <div class="form-field follow">
                <label>{{ follow.followed_user.username }}</label>

                <a href="{% url 'unfollow_user' follow.followed_user.id %}" class="button delete_button">
                    Se désabonner
                </a>
            </div>
        {% empty %}
            <p>Vous ne suivez personne pour l'instant.</p>
        {% endfor %}

        <h2>Abonnés</h2>

        {% for follow in followers %}
            <div class="form-field follow">
                <label>{{ follow.user.username }}</label>

                <a href="{% url 'block_user' follow.user.id %}" class="button delete_button">
                    Bloquer
                </a>
            </div>
        {% empty %}
            <p>Aucun abonné pour l'instant.</p>
        {% endfor %}

<h2>Utilisateurs bloqués</h2>

{% for blocked in blocked_users %}
    <div class="form-field follow">
        <label>{{ blocked.blocked_user.username }}</label>

        <a href="{% url 'unblock_user' blocked.blocked_user.id %}">
            <button class="delete_button" type="button">Débloquer</button>
        </a>
    </div>
{% empty %}
    <p>Vous n'avez bloqué personne.</p>
{% endfor %}

    </div>
{% endblock %}