{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'reviews/styles.css' %}">
</head>
<body>
    <nav>
    <h3>LITReview</h3>
    </nav>
    <div id ='container' >
        <div id="signin">
            <p>Inscrivez-vous maintenant</p>
            <button><a href="{% url 'signup' %}">S'inscrire</a></button>
        </div>
        <div id="connexion">
        <h2>Connectez-vous</h2>

        <form class="inputGroup" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p>
                <input type="text" name="username" placeholder="Entrez votre nom" required>
                {{ form.username.errors }}
            </p>

            <p>
                <input type="password" name="password" placeholder="Votre mot de passe" required>
                {{ form.password.errors }}
            </p>

            <button type="submit">Se connecter</button>
        </form>
        </div>
    </div>

</body>
</html>