{% extends 'reviews/base.html' %}

{% block title %}Connexion - LITReview{% endblock %}

{% block content %}
    <div id='container'>
        <div id="signin">
            <h2>Pas encore de compte ?</h2>
            <p>Inscrivez-vous pour partager vos critiques.</p>
            <br>
            <a href="{% url 'signup' %}">
                <button type="button">S'inscrire</button>
            </a>
        </div>

        <div id="connexion">
            <h2>Connectez-vous</h2>

            {% if form.non_field_errors %}
                <div class="form-errors">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}

                <div class="form-field">
                    <label for="id_username">Nom d'utilisateur</label>
                    <input type="text" name="username" id="id_username" placeholder="Votre pseudo" required autocomplete="off">
                </div>
                {{ form.username.errors }}

                <div class="form-field">
                    <label for="id_password">Mot de passe</label>
                    <input type="password" name="password" id="id_password" placeholder="Votre mot de passe" required>
                </div>
                {{ form.password.errors }}

                <button type="submit">Se connecter</button>
            </form>
        </div>
    </div>
{% endblock %}