body {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
}

/*
 Nav Bar
*/

nav {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    background-color: #e5e5e5;
}

nav h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

/*

Login Page

 */


#container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#connexion, #signin {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#signin {
    border-right: 1px solid #ccc;
}

/*

Buttons

 */
button {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    color: #ffffff;
    background-color: #2ea44f;
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1);
    transition: 0.2s;
    text-decoration: none;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #2c974b;
}


.inputGroup {
  margin: 1.5em 0;
  max-width: 300px;
  width: 100%;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box; /
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
  top: 0;
}

.inputGroup :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0;
  margin-left: 1.3em;
  padding: 0 0.4em;
  background-color: white;
  top: 0;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: #2ea44f;
}

/*

Mobile

*/

@media (max-width: 768px) {
    #container {
        flex-direction: column-reverse;
        width: 95%;
        margin-top: 20px;
        box-shadow: none;
        background-color: transparent;
    }

    #signin {
        border-right: none;
        border-top: 1px solid #ccc;
        margin-top: 20px;
        padding-top: 40px;
    }
}