body {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #f3f4f6;
}

/*

Nav Bar

*/

nav {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    padding: 20px;
    border: 1px solid black;
    background-color: #e5e5e5;
}

nav h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
}

nav a {
    color: black;
    text-decoration: none;
    margin-left: 7px;
}

/*

Login Page

*/

#container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 100%;
    min-height: 60vh;
}

#connexion, #signin {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signin a {
    color: white;
    text-decoration: none;
}

/*

Button

*/

button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #2ea44f;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}

button:hover {
    background-color: #2c974b;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}

/*

Input

*/

.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  max-width: 190px;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #e8e8e8;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
}



@media (max-width: 625px) {
    #container {
        flex-direction: column;
        width: 95%;
    }
}