/*
Nav Bar
*/

nav {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    padding: 20px;
    border: 1px solid black;
    background-color: #e5e5e5;
}

nav h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

nav ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
}

nav a {
    color: black;
    text-decoration: none;
    margin-left: 7px;
}


